<h1>It's all about music that we make togezer !!!</h1>

<%=link_to "new collaboration", new_listing_path, class: "btn btn-outline-primary btn-improved" %>
<%=link_to "join a project ", listings_path, class: "btn btn-outline-primary btn-improved" %>