<h1>Collaborasound</h1>

<form action="/index" method="get">
  <input type="text" name="listing" placeholder="What are you looking for?">
  <input type="submit">
</form>
<%# <%= link_to "New Exchange", new_listing_path, class: "exchange-button responsive" %> %>
