<div class="container">
  <h1>Collaborasound</h1>
  <div class="col-sm">
     <%=link_to "new collabortion", new_listing_path, class: "btn btn-outline-primary btn-improved" %>
  </div>
<div>
<%# <div class="center">
  <form action="/index" method="get">
    <input type="text" name="listing" placeholder="What are you looking for?">
    <input type="submit">
  </form>
</div> %>
