.form {
    padding: 7px 7px 7px 7px;
    margin-top: 25px;
    background: yellowgreen;
    width: 400px;
    display: flex;
    justify-content: center;
  }

  .center {
    display: flex;
    justify-content: center;
  }