.itemo {
    margin-top: 25px;
    margin-bottom: 25px ;
    background: rgb(238, 161, 47);
    width: 350px;
    display: flex;
    justify-content: center;
    border: 3px solid rgba(0,0,0,0.2);
    padding: 10px;
    box-shadow: 5px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
  }

  .mg {
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 5px;
  }